# Server Config
PORT=8003

# Kafka Config
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=analytics-service

# Redis Config (Upstash REST)
UPSTASH_REDIS_REST_URL=https://[YOUR_INSTANCE].upstash.io
UPSTASH_REDIS_REST_TOKEN=your_upstash_token_here
